<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="d-flex flex-column justify-content-center bg">
      <h1>{{title}}</h1>

      <div *ngIf="items.length===0; else showItems">
        <div>
          <h3>No Tasks To Display</h3>
        </div>
      </div>

      <ng-template #showItems>
        <ul *ngFor="let item of items" style="list-style: none;">
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                {{item.wishItem}}
              </label>
            </div>

          </li>
        </ul>
      </ng-template>


    </div>
  </div>
</body>

</html>